{{- if .Values.frontend.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hyades.frontendFullname" . }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "hyades.frontendLabels" . | nindent 4 }}
  {{- with .Values.frontend.service.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.frontend.service.type | quote }}
  ports:
    - name: web
      port: {{ .Values.frontend.service.port }}
      targetPort: web
    {{- with .Values.frontend.service.nodePort }}
      nodePort: {{ . }}
    {{- end }}
  selector: {{- include "hyades.frontendSelectorLabels" . | nindent 4 }}
  {{- if eq .Values.frontend.service.type "LoadBalancer" }}
  {{- if .Values.frontend.service.loadBalancerSourceRanges }}
    loadBalancerSourceRanges:
  {{- range .Values.frontend.service.loadBalancerSourceRanges }}
      - {{ . }}
   {{- end }}
  {{- end -}}
  {{- end -}}
{{- end }}
