{{- if .Values.frontend.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hyades.frontendFullname" . }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "hyades.frontendLabels" . | nindent 4 }}
  {{- with .Values.frontend.service.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.frontend.service.type | quote }}
  ports:
  - name: web
    port: 8081
    targetPort: web
    {{- with .Values.frontend.service.nodePort }}
    nodePort: {{ . }}
    {{- end }}
  selector: {{- include "hyades.frontendSelectorLabels" . | nindent 4 }}
{{- end }}