{{- if .Values.common.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "dependencytrack.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "dependencytrack.commonLabels" . | nindent 4 }}
  annotations: {{- toYaml .Values.common.serviceAccount.annotations | nindent 4 }}
automountServiceAccountToken: {{ .Values.common.serviceAccount.automount }}
{{- end }}