common:
  secretKey:
    createSecret: true

apiServer:
  deploymentType: Deployment
  resources:
    requests:
      cpu: "1"
      memory: "512Mi"
    limits:
      memory: "1Gi"
  extraEnv:
    - name: SYSTEM_REQUIREMENT_CHECK_ENABLED
      value: "false"
