common:
  secretKey:
    createSecret: true

apiServer:
  resources:
    requests:
      cpu: "1"
      memory: "512Mi"
    limits:
      memory: "1Gi"
  persistentVolume:
    enabled: true
    size: "128Mi"
  extraEnv:
    - name: SYSTEM_REQUIREMENT_CHECK_ENABLED
      value: "false"
