{{- if .Values.mirrorService.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hyades.mirrorServiceFullname" . }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "hyades.mirrorServiceLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.mirrorService.replicaCount }}
  selector:
    matchLabels: {{- include "hyades.mirrorServiceSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels: {{- include "hyades.mirrorServiceSelectorLabels" . | nindent 8 }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: /q/metrics
        {{- with .Values.mirrorService.annotations }}
          {{ toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.common.image.pullSecrets }}
      imagePullSecrets: {{- toYaml . | nindent 6 }}
      {{- end }}
      initContainers:
      {{- if .Values.mirrorService.initContainers }}
      {{- toYaml .Values.mirrorService.initContainers | nindent 6 }}
      {{- end }}
      serviceAccountName: {{ include "hyades.serviceAccountName" . }}
      containers:
      - name: {{ include "hyades.mirrorServiceName" . }}
        image: {{ include "hyades.mirrorServiceImage" . }}
        imagePullPolicy: {{ .Values.mirrorService.image.pullPolicy }}
        securityContext: {{ toYaml .Values.mirrorService.securityContext | nindent 10 }}
        {{- with .Values.mirrorService.command }}
        command: {{ toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.mirrorService.args }}
        args: {{ toYaml . | nindent 8 }}
        {{- end }}
        resources: {{- toYaml .Values.mirrorService.resources | nindent 10 }}
        env:
        {{- if (include "hyades.secretKeySecretName" .) }}
        - name: SECRET_KEY_PATH
          value: "/var/run/secrets/secret.key"
        {{- end }}
        {{- with .Values.common.database.jdbcUrl }}
        - name: QUARKUS_DATASOURCE_JDBC_URL
          value: {{ tpl . $ | quote }}
        {{- end}}
        {{- with .Values.common.database.username }}
        - name: QUARKUS_DATASOURCE_USERNAME
          value: {{ . | quote }}
        {{- end }}
        {{- with .Values.common.database.password }}
        - name: QUARKUS_DATASOURCE_PASSWORD
          value: {{ . | quote }}
        {{- end }}
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: {{ tpl .Values.common.kafka.bootstrapServers $ | quote }}
        {{- with .Values.common.kafka.topicPrefix }}
        - name: DT_KAFKA_TOPIC_PREFIX
          value: {{ . | quote }}
        {{- end }}
        {{- with .Values.mirrorService.extraEnv }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.mirrorService.extraEnvFrom }}
        envFrom: {{ toYaml . | nindent 8 }}
        {{- end }}
        ports:
        - name: web
          containerPort: 8093
          protocol: TCP
        volumeMounts:
        - name: tmp
          mountPath: /tmp
        {{- if (include "hyades.secretKeySecretName" .) }}
        - name: secret-key
          subPath: secret.key
          mountPath: /var/run/secrets/secret.key
          readOnly: true
        {{- end }}
        {{- with .Values.mirrorService.additionalVolumeMounts }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        livenessProbe:
          httpGet:
            scheme: HTTP
            port: web
            path: /q/health/live
          failureThreshold: {{ .Values.mirrorService.probes.liveness.failureThreshold }}
          initialDelaySeconds: {{ .Values.mirrorService.probes.liveness.initialDelaySeconds }}
          periodSeconds: {{ .Values.mirrorService.probes.liveness.periodSeconds }}
          successThreshold: {{ .Values.mirrorService.probes.liveness.successThreshold }}
          timeoutSeconds: {{ .Values.mirrorService.probes.liveness.timeoutSeconds }}
        readinessProbe:
          httpGet:
            scheme: HTTP
            port: web
            path: /q/health/ready
          failureThreshold: {{ .Values.mirrorService.probes.readiness.failureThreshold }}
          initialDelaySeconds: {{ .Values.mirrorService.probes.readiness.initialDelaySeconds }}
          periodSeconds: {{ .Values.mirrorService.probes.readiness.periodSeconds }}
          successThreshold: {{ .Values.mirrorService.probes.readiness.successThreshold }}
          timeoutSeconds: {{ .Values.mirrorService.probes.readiness.timeoutSeconds }}
      {{- with .Values.mirrorService.extraContainers }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.mirrorService.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.mirrorService.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: tmp
        emptyDir: {}
      {{- with (include "hyades.secretKeySecretName" .) }}
      - name: secret-key
        secret:
          secretName: {{ . }}
      {{- end }}
      {{- with .Values.mirrorService.additionalVolumes }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
  {{- end }}