common:
  database:
    jdbcUrl: "jdbc:postgresql://postgres.{{ .Release.Namespace }}.svc.cluster.local:5432/dtrack"
    username: "dtrack"
    password: "dtrack"
  kafka:
    bootstrapServers: "redpanda.{{ .Release.Namespace }}.svc.cluster.local:9092"
  secretKey:
    createSecret: true

apiServer:
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      memory: 512Mi

repoMetaAnalyzer:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 512Mi

extraObjects:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: postgres
    namespace: "{{ .Release.Namespace }}"
  spec:
    replicas: 1
    selector:
      matchLabels:
        app.kubernetes.io/instance: "{{ .Release.Name }}"
        app.kubernetes.io/name: "{{ printf \"%s-postgres\" (include \"hyades.name\" .) }}"
        app.kubernetes.io/component: postgres
    template:
      metadata:
        labels:
          app.kubernetes.io/instance: "{{ .Release.Name }}"
          app.kubernetes.io/name: "{{ printf \"%s-postgres\" (include \"hyades.name\" .) }}"
          app.kubernetes.io/component: postgres
      spec:
        containers:
        - name: postgres
          image: postgres:16-alpine
          env:
          - name: POSTGRES_DB
            value: dtrack
          - name: POSTGRES_USER
            value: dtrack
          - name: POSTGRES_PASSWORD
            value: dtrack
          ports:
          - name: postgres
            containerPort: 5432
            protocol: TCP
- apiVersion: v1
  kind: Service
  metadata:
    name: postgres
    namespace: "{{ .Release.Namespace }}"
    labels:
      app.kubernetes.io/instance: "{{ .Release.Name }}"
      app.kubernetes.io/name: "{{ printf \"%s-postgres\" (include \"hyades.name\" .) }}"
      app.kubernetes.io/component: postgres
  spec:
    type: ClusterIP
    selector:
      app.kubernetes.io/instance: "{{ .Release.Name }}"
      app.kubernetes.io/name: "{{ printf \"%s-postgres\" (include \"hyades.name\" .) }}"
      app.kubernetes.io/component: postgres
    ports:
    - port: 5432
      targetPort: 5432
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: redpanda
    namespace: "{{ .Release.Namespace }}"
  spec:
    replicas: 1
    selector:
      matchLabels:
        app.kubernetes.io/instance: "{{ .Release.Name }}"
        app.kubernetes.io/name: "{{ printf \"%s-redpanda\" (include \"hyades.name\" .) }}"
        app.kubernetes.io/component: redpanda
    template:
      metadata:
        labels:
          app.kubernetes.io/instance: "{{ .Release.Name }}"
          app.kubernetes.io/name: "{{ printf \"%s-redpanda\" (include \"hyades.name\" .) }}"
          app.kubernetes.io/component: redpanda
      spec:
        containers:
        - name: redpanda
          image: docker.redpanda.com/redpandadata/redpanda:v24.3.18
          args:
          - redpanda
          - start
          - --smp
          - '1'
          - --reserve-memory
          - 0M
          - --memory
          - 512M
          - --overprovisioned
          - --node-id
          - '0'
          - --kafka-addr
          - PLAINTEXT://0.0.0.0:9092
          - --advertise-kafka-addr
          - PLAINTEXT://redpanda.{{ .Release.Namespace }}.svc.cluster.local:9092
          ports:
          - name: kafka-api
            containerPort: 9092
            protocol: TCP
          - name: redpanda-admin
            containerPort: 9644
            protocol: TCP
- apiVersion: v1
  kind: Service
  metadata:
    name: redpanda
    namespace: "{{ .Release.Namespace }}"
    labels:
      app.kubernetes.io/instance: "{{ .Release.Name }}"
      app.kubernetes.io/name: "{{ printf \"%s-redpanda\" (include \"hyades.name\" .) }}"
      app.kubernetes.io/component: redpanda
  spec:
    type: ClusterIP
    selector:
      app.kubernetes.io/instance: "{{ .Release.Name }}"
      app.kubernetes.io/name: "{{ printf \"%s-redpanda\" (include \"hyades.name\" .) }}"
      app.kubernetes.io/component: redpanda
    ports:
    - name: kafka-api
      port: 9092
      targetPort: 9092
    - name: redpanda-admin
      port: 9644
      targetPort: 9644
- apiVersion: batch/v1
  kind: Job
  metadata:
    name: redpanda-init
    namespace: "{{ .Release.Namespace }}"
  spec:
    template:
      spec:
        containers:
        - name: redpanda
          image: docker.redpanda.com/redpandadata/redpanda:v24.3.18
          command:
          - /bin/bash
          args:
          - -c
          - bash <(curl -s https://raw.githubusercontent.com/DependencyTrack/hyades/main/scripts/create-topics.sh)
          env:
          - name: REDPANDA_BROKERS
            value: "redpanda.{{ .Release.Namespace }}.svc.cluster.local:9092"
        restartPolicy: OnFailure
