name: Helm Docs

on:
  push:
    branches:
    - main
    paths:
    - .github/workflows/**
    - charts/**
  workflow_dispatch: { }

permissions: { }

jobs:
  update-docs:
    name: Update Docs
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
      pull-requests: write
    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v6.0.1
    - name: Setup Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # tag=v6.1.0
      with:
        go-version: "1.22"
        check-latest: true
    - name: Install helm-docs
      run: go install -v github.com/norwoodj/helm-docs/cmd/helm-docs@v1.13.1
    - name: Run helm-docs
      run: helm-docs
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # tag=v8.0.0
      with:
        add-paths: "charts/*/README.md"
        branch: update-helm-docs
        body: "Updates Helm chart documentation using [helm-docs](https://github.com/norwoodj/helm-docs)"
        commit-message: Update helm docs
        delete-branch: true
        labels: documentation
        signoff: true
        title: Update helm docs