name: Helm CI

on:
  push:
    branches:
    - main
    paths:
    - .github/workflows/**
    - charts/**
  pull_request:
    branches:
    - main
    paths:
    - .github/workflows/**
    - charts/**

permissions: { }

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      security-events: write
    steps:
    - name: Checkout Repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # tag=v5.0.0
      with:
        fetch-depth: "0"
    - name: Set up Helm
      uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # tag=v4.3.1
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # tag=v6.1.0
      with:
        python-version: "3.11"
        check-latest: true
    - name: Set up Chart Testing
      uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # tag=v2.8.0
    - name: Lint Chart
      run: ct lint --config ct.yaml
    - name: Scan for Misconfiguration
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # tag=v0.33.1
      with:
        scan-type: config
        format: sarif
        output: misconfig.sarif
    - name: Upload Misconfiguration Scan Results
      uses: github/codeql-action/upload-sarif@956f09c2ef1926b580554b9014cfb8a51abf89dd # tag=codeql-bundle-v2.16.6
      with:
        sarif_file: misconfig.sarif

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout Repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # tag=v5.0.0
      with:
        fetch-depth: "0"
    - name: Set up Helm
      uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # tag=v4.3.1
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # tag=v6.1.0
      with:
        python-version: "3.11"
        check-latest: true
    - name: Set up Chart Testing
      uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # tag=v2.8.0
    - name: Create Kind Cluster
      uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # tag=v1.13.0
    - name: Test
      run: ct install --config ct.yaml --debug